<?php
$minWidth = FreshRSS_Context::$user_conf->TogglableMenu['menu_display_width_threshold'] ?? 840;
?>

<form action="<?php echo _url('extension', 'configure', 'e', urlencode($this->getName())); ?>" method="post">
	<input type="hidden" name="_csrf" value="<?php echo FreshRSS_Auth::csrfToken(); ?>" />
	<div class="form-group">
		<label class="group-name" for="togglablemenu_min_width" title="<?php echo _t('ext.TogglableMenu.menu_display_width_threshold'); ?>"><?php echo _t('ext.TogglableMenu.menu_display_width_threshold'); ?></label>
		<div class="group-controls">
	            <input
			type="number"
			step="1"
			name="togglablemenu_min_width"
			id="togglablemenu_min_width"
			value="<?php echo $minWidth; ?>"
			/>
		</div>
        </div>

	<div class="form-group form-actions">
		<div class="group-controls">
			<button type="submit" class="btn btn-important"><?php echo _t('gen.action.submit'); ?></button>
			<button type="reset" class="btn"><?php echo _t('gen.action.cancel'); ?></button>
		</div>
	</div>
</form>
